
body {
 color: #ffffff;
 background-color:#808080;
 margin: 0px;
 text-algin: center;
}

nav
{
	background-color: #808080;	
}


.navbar-brand
{
	color: black;
}

#main-page
{
	background-color: #808080;
	
}
#druga
{
	 height: 700px;
}



#container
{
  position: relative;
  margin: auto;
  width: 1100px;
  background-color: #808080;	
  overflow: hidden;
}

footer
{
  background-color: #808080;	
  height: 100px;
  position: relative;
  text-align: center;
}


